
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    background-color: #f0dddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    transition: box-shadow 0.3s;
  }
  .container:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Increase shadow on hover */
  }
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  img:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  a {
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 600px) {
    .container {
      margin: 20px;
      padding: 10px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    img {
      margin-bottom: 10px;
    }
  
    p {
      font-size: 16px;
    }
  
    a {
      font-size: 14px;
      margin-top: 5px;
    }
  }
  